:root {
    --white:#ece7e7;
    --black: #3a3838;
    --gray: #757171;
    --red:  rgb(232,53,85);
    --blue: rgb(95,206,213);
    --yellow: rgb(199,189,40);

}
* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
    margin: 0;
}
.flex-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 120px;
    align-items: flex-end;
}
.flex-container a{
    text-decoration: none;
    color: var(--fontColor) ;
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    margin-right: 50px;
}
.flex-container> div{
    margin: 15px;
    padding: 20px;
}
.flex-container a:hover {
    color: var(--red);
}
.myName {
    float: left;
    margin-top: 100px;
    margin-left: 200px;
}
.myName h1 {
    font-size: 70px;
    margin: 0;
}
.myImg {
    background-image: url(me2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    float: right;
    height: 450px;
    width: 450px;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 50%;
    border: none;
}
.flex-container2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 240px;
    margin-left: 120px;
    padding: 30px;
}
.flex-container2 a{
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    font-family: arial;
    font-weight: bold;
    text-align: center;
    float: left;
    position: relative;
    margin-top: 60px;
    margin-left: 10px;

}
.flex-container2> div{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    border: none;
    margin: 10px;
}
.first {
    background: var(--firstBg);
}
.sec {
    background: var(--secBg);
}
.third {
    background: var(--thirdBg);
}
.first:hover {
    background: var(--gray);
}
.sec:hover {
    background: var(--gray);
}
.third:hover {
    background: var(--gray);
}
.follow-me {
    margin-top: 63px;
    margin-bottom: 0;
    height: 60px;
}
#icon {
    width: 500px;
    height: 70px;
    margin-left: 500px;
}
#icon a {
    display: inline;
    padding: 35px;
    text-decoration: none;
    color: var(--white);
    font-size: 50px;
}
#icon a:hover {
    font-size: 55px;
}
.theme {
    --bg: var(--black);
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
    --firstBg: var(--red);
    --secBg: var(--blue);
    --thirdBg: var(--yellow);
}
